@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

@layer components {
    #tabladatos_wrapper .dt-length select {
        @apply px-5;
    }
}

/* ---- css kewin ---- */

/*--- posicionar una imagen en funcion de otra ------- */
