@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

@layer components {
    #tabladatos_wrapper .dt-length select {
        @apply px-5;
    }
}

/* ---- css kewin ---- */

/*--- posicionar una imagen en funcion de otra ------- */
.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    /* Ancho máximo para el contenedor */
}

.img-container {
    position: relative;
    width: 100%;
}

.img-container img {
    width: 100%;
    height: auto;
}

.logo-container {
    position: absolute;
    bottom: 12px;
    left: 58px;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    /*Centrarrespectoalaesquinainferiorizquierda*/
}

.logo-container img {
    width: 100%;
    /* Ancho relativo al contenedor padre (.image-container) */
    height: auto;
}

/* ------ MODIFICACIO PARA LAS GRILLAS DE SWIPER ------- */

.swiper-grid-column > .swiper-wrapper {
    display: flex !important;
    flex-direction: row !important;
}

.enfermedades .swiper-slide {
    margin-top: 0 !important;
    margin-bottom: 50px !important;
}

.enfermedades .swiper-pagination-grid {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .enfermedades .swiper-pagination-grid {
        display: none;
    }
}

/* ------------ botones de navegacion ------------------ */

.swiper-button-next:after {
    content: "" !important;
}

.swiper-button-next {
    background-color: #42bae2;
    background-image: url(../../public/images/svg/arrow-right-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: calc(var(--swiper-navigation-size) / 29 * 27) !important;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative !important;
    transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -ms-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
}

.swiper-button-next:hover {
    background-color: #393f53;
}

.swiper-button-prev:after {
    content: "" !important;
}

.swiper-button-prev {
    background-color: #d4e5fe;
    background-image: url(../../public/images/svg/arrow-left-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative !important;
    width: calc(var(--swiper-navigation-size) / 29 * 27) !important;
    transition: background-color 0.5s ease-in;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -ms-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
}

.swiper-button-prev:hover {
    background-color: #b0b2bd;
}

.buttonSliderServicios {
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 2rem;
    height: 50px;
}

@media (min-width: 768px) {
    .buttonSliderServicios {
        flex-direction: row-reverse;
        justify-content: start;
    }
}

.swiper-button-lock {
    display: block !important;
}

/* -------- transparencia ---------------- */

.bg-indice {
    background-color: rgba(249, 249, 249, 0.8);
    /* Color de fondo con opacidad */
    backdrop-filter: blur(4px);
    /* Efecto de desenfoque en el fondo */
}

/* --------------- flip card --------- */
.contenedor {
    height: 100%;
    /* Ajustar altura al contenedor padre */
    position: relative;
}

.flip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    perspective: 1200;
}

.card {
    display: flex;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    backface-visibility: none;
    -webkit-backface-visibility: none;
}

.back {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}

.card.flipCard {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
}

/* --- alerta --- */

.alerta {
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: "Outfit";
    border-radius: 1rem;
    background-color: red;
    text-align: center;
    padding: 0.6rem;
    margin-top: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* --------------------- deslizante ------------------- */
ul {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Progress Div Css  */

ul li .progress {
    border-radius: 50%;

    margin: 14px 0;

    width: 100%;

    position: relative;
    cursor: pointer;
}

.progress::after {
    content: "";

    position: absolute;
    width: 5px;

    height: 210px;
    top: -150px;
    left: 23px;
    background-color: #f8f2f2;

    z-index: -1;
}

.one::after {
    width: 0;
    height: 0;
}

/* Active Css  */

li .active::after {
    background-color: #42bae2;
}

/* Responsive Css  */

@media (min-width: 375px) {
    .progress::after {
        height: 243px;
        top: -170px;
    }
}

@media (min-width: 580px) {
    .progress::after {
        height: 200px;
        top: -150px;
    }
}

@media (min-width: 768px) {
    .progress::after {
        height: 270px;
        top: -185px;
    }
}

@media (min-width: 840px) {
    .progress::after {
        height: 250px;
    }
}

@media (min-width: 910px) {
    .progress::after {
        height: 240px;
        top: -170px;
    }
}

@media (min-width: 1150px) {
    .progress::after {
        height: 225px;
        top: -165px;
    }
}

@keyframes moveLeftAndBack {
    0% {
        left: 20%;
        /* Empieza y termina en la posición original */
        opacity: 1;
        /* Opacidad completa */
    }

    50% {
        left: -25%;
        /* Mueve hacia la izquierda fuera del borde */
        /* opacity: 0; */
    }

    100% {
        left: 20%;
        opacity: 1;
    }
}

/* Animación para la segunda imagen */
@keyframes moveRightAndBack {
    0% {
        left: 50%;
        /* Empieza y termina en la posición original */
        opacity: 1;
        /* Opacidad completa */
    }

    50% {
        left: 75%;
        /* Mueve hacia la derecha fuera del borde */
        /* opacity: 0;  */
    }

    100% {
        left: 50%;
        opacity: 1;
    }
}

/* Aplicación de las animaciones a las imágenes */
.myBox:nth-child(1) {
    animation: moveLeftAndBack 3s infinite;

    -webkit-animation: moveLeftAndBack 3s infinite;
}

.myBox:nth-child(2) {
    animation: moveRightAndBack 3s infinite;
    -webkit-animation: moveRightAndBack 3s infinite;
}

.testimonios .swiper-slide {
    overflow: hidden;
}

/* ---- */

.contenedor_video {
    background-color: rgba(249, 249, 249, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1rem;
}

@media (min-width: 768px) {
    .contenedor_video {
        padding: 1.5rem;
    }
}
